<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>option + command + V : 리턴타입 변수 라인 자동 생성 </p>
<p>control + T          : 구문 => 함수로 전환 Extract method</p>
<p>control + shift + T  : junit test ( class명 위에서 단축키 실행 )</p>
//member2 커서상태에서 shift + fn + f6 하면 전체 수정 가능
//Control + T : Extract method(함수 만들기)
//cmd + shift + enter (자동완성 종료)
//주석 /**/ control + shift + /
//control + r ( 이전 실행 그대로 실행 )

</body>
</html>